@media (min-width: 980px) {
  /* Thanks to Thomas Clayson */
  body {
    padding-top: 60px;
    padding-bottom: 40px;
  }
}

.post-info span {
    margin-bottom: 16px;
}

table.hCalendarTable {
    width: 100%;
    padding: 4px;
    -moz-box-shadow: inset 1px 1px 1px 1px #ddd;
   -webkit-box-shadow: inset 1px 1px 1px 1px #ddd;
   box-shadow: inset 1px 1px 1px 1px #ddd;
}

table.hCalendarTable td {
    padding: 4px;
    text-align: center;
}

td.hCalendarDay, td.hCalendarDayNotInMonth, td.hCalendarDayLinked, th.hCalendarDayNameRow {
    background-color: white;
}

td.hCalendarDayCurrent {
  background-color: rgb(243, 237, 185);
}

td.hCalendarMonthYearRow, tr.hCalendarNextPrev {
  background-color: #fafafa;
}